<div onclick="location.href=#" class="block shadow-md mb-6 rounded overflow-hidden bg-white cursor-pointer">
  <div class="flex">
    <% if false %>
      <div class="w-18" ><img src="https://s.gravatar.com/avatar/11a2c89f60d234faa569b93242ab4902?s=80&r=g" class="" /></div>
    <% end %>

    <div class="m-2 flex-grow">
      <div class="flex">
        <div class=""><%= profile.name %></div>

        <div class="ml-auto">
          <% profile.contact_methods.each do |contact| %>
            <%= render partial: "contact_#{contact["type"]}", locals: { contact: contact } %>
          <% end %>
        </div>
      </div>

      <%= content_tag :div, profile.short_description, class: 'my-4' unless profile.short_description.blank? %>
      
      <div class="mt-3 flex items-baseline">
        <% profile.tags.each do |tag| %>
          <a href="/tags/<%= tag %>" class="bg-gray-100 border-2 border-gray-400 rounded-full py-1 px-4 mr-1"><%= tag %></a>
        <% end %>

        <% if profile.looking_for.present? %>
          <div class="ml-auto">
            <div class="px-4 py-1 bg-red-400 text-white"><%= profile.looking_for %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>