<!DOCTYPE html>
<html>
  <head>
    <title>SarniaTechPro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="subpixel-antialiased">
    <div class="h-screen flex flex-col">
      <%= render 'header' %>
    
      <div class="flex-grow" style="background-color: #EAECF5;">
        <div class="mx-auto px-2 py-4 max-w-2xl">
          <%= yield %>
        </div>
      </div>

      <%= render 'footer' %>
    </div>
  </body>
</html>
